/* --------------------Media-Tablet----------------------- */
/* ------------------- Header---------------------------- */

@media screen and (min-width: 768px) {
	.container {
		max-width: 736px;
	}

	.team {
		padding: 96px 0 96px;
	}

	.team-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.team-item {
		width: calc((100% - 24px) / 2);
	}
}
/* ------------------- Main-Hero---------------------------------- */
/* --------------------Features---------------------------------- */
/* --------------------Our Team--------------------------------- */

/* --------------------Our Portfolio--------------------------- */
/* --------------------Footer--------------------------------- */
/* --------------------Footer-Form--------------------------- */
/*---------------------Backdrop------------------------------*/

/* --------------------Media-Desktop----------------------*/
/* --------------------Header--------------------------- */

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}

	.team-list {
		display: flex;
		flex-direction: row;
		gap: 24px;
	}

	.team-item {
		width: calc((100% - 3 * 24px) / 4);
	}
}

/* ------------------- Main-Hero---------------------------------- */
/* --------------------Features---------------------------------- */
/* --------------------Our Team--------------------------------- */
/* --------------------Our Portfolio--------------------------- */
/* --------------------Footer--------------------------------- */
/* --------------------Footer-Form--------------------------- */
/*---------------------Backdrop------------------------------*/
