/* --------------------Media-Tablet----------------------- */
/* ------------------- Header---------------------------- */

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}

	.open-menu-btn {
		display: none;
	}

	.logo {
		margin-right: 120px;
	}

	.header-menu-list {
		display: flex;
		gap: 40px;
	}

	.header-menu-link {
		color: #2e2f42;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.02em;
		padding: 24px 0;
		display: block;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.header-menu-link:hover,
	.header-menu-link:focus {
		color: #404bbf;
	}

	.current {
		position: relative;
		color: #404bbf;
	}

	.current::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -1px;
		background-color: #404bbf;
		border-radius: 2px;
		height: 4px;
		width: 100%;
	}

	.header-address {
		display: block;
	}

	.header-address-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.header-address-link {
		color: #434455;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.17;
		letter-spacing: 0.03em;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.header-address-link:hover,
	.header-address-link:focus {
		color: #404bbf;
	}
	/* ------------------Tablet-Main-Hero----------------------------- */

	.hero {
		max-width: 768px;
		margin: 0 auto;
	}

	/* --------------------Our Team--------------------------------- */
	.team {
		padding: 96px 0 96px;
	}

	.team-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.team-item {
		width: calc((100% - 24px) / 2);
	}
}
/* ------------------Tablet-Main-Hero----------------------------- */
/* --------------------Features---------------------------------- */
/* --------------------Our Portfolio--------------------------- */
/* --------------------Footer--------------------------------- */
/* --------------------Footer-Form--------------------------- */
/*---------------------Backdrop------------------------------*/

/* --------------------Media-Desktop----------------------*/
/* --------------------Header--------------------------- */

@media screen and (min-width: 1158px) {
	.container {
		max-width: 1158px;
		padding: 0 15px;
	}

	.logo {
		margin-right: 76px;
	}
	.header-address-list {
		flex-direction: row;
		gap: 40px;
	}

	.header-address-link {
		color: #434455;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: 0.02em;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	/* --------------------Our Team--------------------------------- */
	.team-list {
		display: flex;
		flex-direction: row;
		gap: 24px;
	}

	.team-item {
		width: calc((100% - 3 * 24px) / 4);
	}
}

/* ------------------- Main-Hero---------------------------------- */
/* --------------------Features---------------------------------- */
/* --------------------Our Portfolio--------------------------- */
/* --------------------Footer--------------------------------- */
/* --------------------Footer-Form--------------------------- */
/*---------------------Backdrop------------------------------*/
