/* --------------------Media-Tablet----------------------- */
/* ------------------- Header---------------------------- */

@media screen and (max-width: 768px) {
	.container {
		max-width: 736px;
	}

	.team {
		padding: 96px 0 96px;
	}

	.team-list {
		display: flex;
		gap: 24px;
		flex-wrap: wrap;
	}

	.team-item {
		width: calc((100% - 24px) / 2);
	}
}
/* ------------------- Main-Hero---------------------------------- */
/* --------------------Features---------------------------------- */
/* --------------------Our Team--------------------------------- */

/* --------------------Our Portfolio--------------------------- */
/* --------------------Footer--------------------------------- */
/* --------------------Footer-Form--------------------------- */
/*---------------------Backdrop------------------------------*/

/* --------------------Media-Desktop----------------------*/
/* --------------------Header--------------------------- */

/* @media screen and (min-width: 769px) {
	.container {
		max-width: 1440px;
	}
} */

/* ------------------- Main-Hero---------------------------------- */
/* --------------------Features---------------------------------- */
/* --------------------Our Team--------------------------------- */
/* --------------------Our Portfolio--------------------------- */
/* --------------------Footer--------------------------------- */
/* --------------------Footer-Form--------------------------- */
/*---------------------Backdrop------------------------------*/
